

body{
    
}

.grid{
display:grid ;
grid-template-columns: "left" "right";
grid-template-areas: 1fr 1fr ;
}

.grid-left{
    grid-area: "left";
    
}

.grid-right{
    grid-area: "right";
}


.bloco-code{
    display: flex;
    justify-content: center;
    align-items: center;
}

code{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    font-size: 105%;
    padding: 2px;
    border-radius: 5px;


}

.text-objeto{
    color: aqua;

}

.text-metodo{
    color: yellow;
}