

body{
    
}

.grid{
display:grid;
grid-template-columns: left right;
grid-template-areas: 1fr 1fr ;
background-color: black;
}


main.grid-left{
    
    display: grid;
    grid-area: left; 
    background-color: aqua;
}

.grid-right{
    display: grid;
    grid-area: right;
    background-color: rgb(145, 255, 0);
}


.bloco-code{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

code{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    font-size: 105%;
    padding: 2px;
    border-radius: 5px;


}

.text-objeto{
    color: aqua;

}

.text-metodo{
    color: yellow;
}